services:
  migrate:
    image: ghcr.io/ablikhanovrm/pastebin:latest
    command: ["./migrate", "up"]
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_MIGRATOR_USER: ${DB_MIGRATOR_USER}
      DB_MIGRATOR_PASSWORD: ${DB_MIGRATOR_PASSWORD}

  app:
    image: ghcr.io/ablikhanovrm/pastebin:latest
    command: ["./app"]
    restart: always
    ports:
      - "127.0.0.1:8080:8080"
    environment:
      HTTP_BIND_ADDRESS: ${HTTP_BIND_ADDRESS}
      HTTP_PORT: ${HTTP_PORT}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_SSLMODE: ${DB_SSLMODE}
      S3_ENDPOINT: ${S3_ENDPOINT}
      S3_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID}
      S3_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY}
      S3_BUCKET: ${S3_BUCKET}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      SECURE_COOKIES: ${SECURE_COOKIES}

